body {
	background: rgba(240, 240, 240, 0.0);	
	overflow: hidden;
	font-family: 'Cantarell';
	padding: 0;
	margin: 0;
	-webkit-user-select: none;
	-webkit-touch-callout: none;
}
#background {
	width: 100%; 
	height: 100%; 
	left: 0px; 
	top: 0px; 	
	position: fixed;
	z-index: -1;
}
.stretch {
    width:100%;
    height:100%;
}

#pseudo-body {
	background-image: -webkit-radial-gradient(50% 42%, ellipse farthest-side, rgba(240, 240, 240, 0.0), rgba(240, 240, 240, 0.0) 1%);
	-webkit-background-size: 100%;
	background-repeat: no-repeat;
	background-position: 50% 47%;
	position: absolute;
	top: -190px;
	left: 0;
	right: 0;
	bottom: 115px;
	z-index: 1;
	overflow: hidden;
}

/*#bg-top {
	height: 100%;
	background: url(./img/bg.png);
	width: 100%;
	position: absolute;
	z-index: 2;
}*/

div#panel {
	position: absolute;
	top: 0px;
	left: 0px;
	right:0px;
	height: 28px;
	/*background-color: #000;
	opacity: 0.7;*/
	z-index: 3;
	padding: 0 11px 0 0;
}

div#panel div.menu{
	/*width: 24px;*/
	padding: 5px 14px 0 0;
	height: 32px;
	position: relative;
	float: right;
}
ul.down-arrow {
	position: absolute;
	z-index: 999;
	background: rgba(240, 240, 240, 0.0);
	width: 155px;
	display: none;
	border-radius: 7px;
	font-size: 14px;
	font-weight: bold;
	text-align: left;
	padding: 36px 0px 0px 0px;
	right: -10px;
	top: 3px;
	float: right;
	display: none;
	list-style: none;
}

ul.down-arrow li {
	background: rgba(240, 240, 240, 0.0);
	padding: 0 14px;
	width: 128px;
	height: 28px;
	line-height: 1;
}

ul.down-arrow .down-arrow-bottom {
	background: rgba(240, 240, 240, 0.0);
	width: 128px;
	height: 28px;
}

ul.down-arrow a{
	color: #0A0A0A;
	display: inline-block;
	height: 28px;
	width: 128px;
	padding-left: 12px;
	line-height: 22px;
	text-decoration: none;
}

ul.down-arrow li.session-selected a, ul.down-arrow a:hover{
	background: rgba(240, 240, 240, 0.0);
	text-shadow:##7F7F7F 1px 0 0;
	color: #400022;
	border-color: rgba(240,240,240,0.1);
	border-style: solid;
	border-width: 1px;
	border-radius: 8px;
	text-decoration: none;
}

div#center {
	position: absolute;
	top: 200px;
	left: 0px;
	right: 0px;
	height: 400px;
	/*background-color: #000;*/
	text-align: center;
	z-index: 3;
}

div#users {
	position: fixed;
	top: 200px;
	left: 0px;
	right: 0px;
	height: 200px;
	-webkit-box-reflect:below 5px -webkit-gradient(linear, left top, left bottom, from(rgba(240, 240, 240, 0.0)), color-stop(0.7, rgba(240, 240, 240, 0.1)), to(rgba(240, 240, 240, 0.1)));
}

div#users > div.user {
	position: absolute;
	height: 85px;
	width: 85px;
	background-color: #101010;
	/*background: -webkit-radial-gradient(50% 1%, #fefefe, #b8b8b8);*/
	background: -webkit-radial-gradient(50% 1%, #c3c3c3, #101010);
	box-shadow: rgba(0, 0, 0, 0.2) 0 0 3px, 0 1px 0 rgba(255,255,255,0.8) inset ,1px 0 0 rgba(255, 255, 255, 0.3) inset, -1px -1px 0px rgba(255, 255, 255, 0.3) inset;
	border-radius: 5px;
	border: solid 1px #101010;
	/*-webkit-border-image: -webkit-gradient(linear, left top, left bottom, from(#878787), to(#c1c1c1));
	*/-webkit-transition-property: top, left, width, height;
	-webkit-transition-duration: 1s;
	-webkit-transition-delay: 100ms;
}
div.user.no-image {
	border-top: solid 1px #101010 !important;
}

div#users > div.user-selected {
	height: 200px;
	width: 200px;
	top: 0px;
	opacity: 1;
	border-radius: 7px;
}

div#users > div.user > div.user-id-value,
div#users > div.user > div.user-name-value,
div#users > div.user > div.user-displayname-value,
div#users > div.user > div.user-session-value {
	display: none;
}

div#users div.user img.userimage {
	width: 85px;
	height: 85px;
	border-radius: 5px;
	-webkit-transition-property: top, left, width, height;
	-webkit-transition-duration: 1s;
	-webkit-transition-delay: 100ms;
}

div#users div.user-selected img.userimage {
	width: 200px;
	height: 200px;
	border-radius: 7px;
}
div#users div.userimgcont {
	position: absolute;
	top: 0px;
	left: 0px;
}
div.userimgcont div.imgoverlay {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	border-radius: 8px 8px 0 0;
	border-radius: 5px;
	z-index: 10;
	box-shadow: 1px 0 0 rgba(255,255,255,0.2) inset, -1px 0 0 rgba(255,255,255,0.2) inset, 0 1px 0 rgba(255,255,255,0.5) inset;
}
div.user-selected div.userimgcont div.imgoverlay {
	border-radius: 8px 8px 0 0;
}
div#users div.user-selected div.userimgcont {
	height: 163px;
	overflow: hidden;
}
div.user > div.user-name-container {
	position: absolute;
	bottom: 0px;
	left: 0px;
	color: rgba(240, 240, 240, 0.3);
	height: 37px;
	text-align: center;
	width: 180px;
	padding-left: 10px;
	padding-right: 10px;
	line-height: 37px;
	opacity: 0;
	-webkit-transition-property: opacity;
	-webkit-transition-duration: 100ms;
}

div.user > div.user-name-container.no-image {
	opacity: 1;
	width: 85px;
	top: 36px;
}

div.user-selected > div.user-name-container {
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	/*background-color: #101010;*/
	width: 180px;
	border-top: 0px solid #101010;
	opacity: 1;
	-webkit-transition-delay: 1s;
	-webkit-transition-duration: 1s;
	box-shadow: 0 1px 0 #E3E3E3 inset, 1px -1px 0 rgba(255,255,255,0.2) inset, -1px 0 0 rgba(255,255,255,0.2) inset;
	background: -webkit-radial-gradient(50% 7%, #CCC, #AFAFAF);
}
div.user-selected > div.user-name-container.no-image {
	border: none;
	box-shadow: none;
	width: 180px;
	top: 82px;
	color: #101010;
}
div.user > div.user-name-container > div {
	vertical-align: middle;
	font-size: 30px;
	font-family: "Canterall";
	font-weight: 300;
	color: #400022;
	text-shadow: #7F7F7F 0px 1px 0px;
	line-height: 35px;
	white-space: nowrap !important;
	overflow: hidden;
	text-overflow: ellipsis;
}
/*
Input Text
*/
.input-r {
	padding-right: 4px;
	background: /*url("./img/input.png") top right no-repeat;*/ rgba(240, 240, 240, 0.0);
	height: 28px;
	margin: 0 0 9px;
	display: inline-block;
	border-radius: 8px;
	border-color: rgba(240,240,240,0.2);
	border-style: solid;
	border-width: 3px;
}
.input-r.logregpass {
	float: center;
}
.input-l {
	padding-left: 4px;
	background: /*url("./img/input.png") no-repeat 0 -26px;*/ rgba(240, 240, 240, 0.0);
	height: 28px;
}
.input-c {
	background: /*url("./img/input.png") 0 -52px;*/ rgba(240, 240, 240, 0.0);
	height: 28px;
	line-height: 24px;
} 
.input-c input{
	background: 0;
	background: transparent;
	padding: 0 0 0 5px;
	margin: 0;
	border: 0;
	height: 24px;
	font-size: 15px;
	color: #400022;
	text-align: center;
}
.input-c input:focus{
	outline: none;
}

div#password-box {
	position: absolute;
	width: 258x;
	height: 24px;
	top: 61%;
	left: 60%;
}
.alert {
	display: inline-block;
	margin: 0 auto;
	min-width: 310px;
	padding: 10px;
	background: rgba(0, 0, 0, 0.7);
	clear: both;
	position: relative;
	top: 77%;
	color: #FFF;
	font-size: 12px;
	text-shadow: 0 2px 0 #000;
	border-radius: 5px;
	box-shadow: 0 0 5px rgba(0,0,0,0.3);
	line-height: 20px;
}
.user-selected .logged-in {
	display: none;
	opacity: 0;
}
.logged-in {
	width: 22px;
	height: 22px;
	background: url(./img/loggedin.png);
	position: absolute;
	bottom: 2px;
	right: 2px;
	z-index: 2;
}
#logo {
	background: url(./img/BlankOn.png);
	width: 201px;
	height: 35px;
	position: absolute;
	top: 92%;
} 
.archive {
	left: 3%;
}
